<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{listaRecibida['titulo']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item >
    <ion-label position="floating">
      Nueva tarea
    </ion-label>
    <ion-textarea type="text" (keyup.enter)="agregar()" [(ngModel)]="nombreItem" placeholder="Ingresa nueva entrada"></ion-textarea>
  </ion-item>
</ion-list>

<ion-list class="top-border">
  <ion-item *ngFor=" let actividad of listaRecibida['item']" >
    <p>{{actividad.descripcion}}</p>
  </ion-item>
</ion-list>
</ion-content>