<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{listaRecibida['titulo']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item >
    <ion-label position="floating">
      Descripcion
    </ion-label>
    <ion-textarea type="text" (keyup.enter)="agregar()" [(ngModel)]="nombreItem" placeholder="Ingresa descripcion de actividad"></ion-textarea>
  </ion-item>
</ion-list>

<ion-list >
  <ion-list-header>
    <ion-item>
      <ion-label>
       <h2>Lista de tareas</h2>
      </ion-label>
    </ion-item>
  </ion-list-header>

  <ion-item-sliding *ngFor=" let actividad of listaRecibida['item']">
    <ion-item >
      <ion-checkbox slot="start" [(ngModel)]="actividad.completado" (ionChange)="cambiaCheck()" ></ion-checkbox>
      <p>{{actividad.descripcion}}</p>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option (click)="editar(listaRecibida,actividad)" >
        Editar
      </ion-item-option>
    </ion-item-options>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="borrar(actividad)" >
        Eliminar
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  
</ion-list>
</ion-content>